<label>Server Name</label>

<!-- one way (on event) Bind from input and call func in the class, then(on data) -->
<input type="text" class="form-control" (input)="onUpdate($event)" />
<hr />

<!-- ngModel - Bind Two ways -->
<input type="text" class="form-control" [(ngModel)]="serverName" />

<p>{{ serverName }}</p>
<button
  [disabled]="!allowNew"
  class="btn btn-primary"
  (click)="onCreateServer()"
>
  Add Server
</button>

<!-- <p>{{ serverCreation }}</p> -->
<p *ngIf="createServer">Server "{{ serverName }}" is created</p>
<!-- i can use else with *ng if -->

<app-server *ngFor="let server of servers"></app-server>

<!-- ngModel - Bind Two ways - assignment -->
<hr />
<input type="text" class="form-control" [(ngModel)]="username" />
<button
  [disabled]="username === ''"
  class="btn btn-primary"
  (click)="username = ''"
>
  Reset
</button>
<p>{{ username }}</p>

<hr />
<button class="btn btn-primary" (click)="displaySecret()">
  Display Secret
</button>
<p *ngIf="!displayMark">Secret word =tuna</p>
<div
  *ngFor="let item of log; let i = index"
  [ngStyle]="{ backgroundColor: i >= 4 ? 'blue' : 'transparent' }"
>
  {{ item }}
</div>
